/* Blueprint overides */

body {
	margin-top:0;
	color:#555;
}

a {
	color:#555;
	text-decoration: none;
}

li a {
	text-decoration: underline;
	font-weight: normal;
}

p + p {
margin:0 0 1.5em 0;
text-indent:0;
}

h1, h2, h3, h4, h5 {
	font-family: Georgia, Times, serif;
	line-height: 1em;
}

/* site specific CSS */

#frame {
	padding-top:1.5em;
	background: #fff url(../images/global/page_bg.jpg) repeat-x;
}

#mainHeading {
		background-repeat: no-repeat;
		width:331;
		height:43px;
		display:block;
		background-image: url(../images/home/h_printingservices.gif);
		text-indent: -9000px;
		margin-top:41px;
}

#global_nav {
	list-style:none;
	margin: 0;
	height:20px;
	text-align: left;
}

#global_nav li{
	display:inline-block;
	float:left;
	margin:0;
	padding:0;
	border-right:solid 1px #ccc;
	padding-right:10px;
	margin-right:10px;
}

#global_nav li.last{
	border-right:none;
	padding-right:0;
}

#global_nav li a {
	font-family: Helvetica, Arial, sans-serif;
	font-size:13px;
	text-decoration: none;
	text-transform: uppercase;
}

h3#liveOakBallroom {
		background-repeat: no-repeat;
		width:138;
		height:40px;
		display:block;
		background-image: url(../images/home/h_live_oak_ballroom.gif);
		text-indent: -9999px;
		margin-top: -10px;
		background-position: center;
}

h3#cypressRoom {
		background-repeat: no-repeat;
		width:109;
		height:21px;
		display:block;
		background-image: url(../images/home/h_cypress_room.gif);
		text-indent: -9999px;
		background-position: center;
}

h3#aboutOurFamily {
		background-repeat: no-repeat;
		width:133;
		height:22px;
		display:block;
		background-image: url(../images/home/h_About_Our_Family.gif);
		text-indent: -9999px;
		background-position: left;
}

h3#ballroomGardenRoom {
		background-repeat: no-repeat;
		width:269;
		height:18px;
		display:block;
		background-image: url(../images/home/h_live_oak_ballroom_and_garden_room.gif);
		text-indent: -9999px;
		background-position: left;
}

h3#thingsToConsider {
		background-repeat: no-repeat;
		width:157;
		height:25px;
		display:block;
		background-image: url(../images/home/h_things_to_consider.gif);
		text-indent: -9999px;
		background-position: center;
}

h3#cypress {
		background-repeat: no-repeat;
		width:109;
		height:21px;
		display:block;
		background-image: url(../images/home/h_cypress_room.gif);
		text-indent: -9999px;
		background-position: left;
}

h3#events {
		background-repeat: no-repeat;
		width:140;
		height:20px;
		display:block;
		background-image: url(../images/home/h_eventChecklist.gif);
		text-indent: -9999px;
		background-position: left;
}

h3#catering {
		background-repeat: no-repeat;
		width:76;
		height:25px;
		display:block;
		background-image: url(../images/home/h_catering.gif);
		text-indent: -9999px;
		background-position: left;
}

h4.checklistHeadings { font: 1em Helvetica, Arial, sans-serif; color: #939598; margin-bottom: 2px;}

#eventChecklist ul { margin-left: 20px;}

#eventChecklist li {
	list-style-image: url(../images/home/g_bullet.gif);
}

ul.noListStyles li {
	list-style: none;
	text-decoration: none;
}

#courtesyNav {
	list-style:none;
	margin:1px 0 0 0 ;
	height:30px;
}

#courtesyNav li{
	display:inline-block;
	margin:0;
	padding:0;
	border-right:solid 1px #ccc;
	padding-right:10px;
	margin-left:10px;
	float: left;
}

#courtesyNav li.last{
	border-right:none;
	padding-right:0;
}

#courtesyNav li a {
	font-family: Helvetica, Arial, sans-serif;
	font-size:12px;
	text-decoration: none;
	text-transform: uppercase;
}

.footer {
	margin-top:-0px;
}

a.backToTop {
	color:red;
	font-weight: normal;
	text-decoration: none;
}

.tanBox {
	background-color: #f5f1d8;
	padding: 34px;
	height: 74px;
}

.tanBox p { float: right;}

.tanBox2 {
	background-color: #f5f1d8;
	padding: 15px 24px 55px 30px;
	height: 74px;
	margin-left: 13px;
}

.tanBox2 p { float: right;}

.tanBox3 {
	background-color: #f5f1d8;
	padding: 15px 24px 55px 30px;
	height: 74px;
}

.tanBox3 p { float: right;}


.greyBox {
	background-color:#939598; /*grey*/
	padding: 25px 0 25px 15px;
	color: #fff;
	font-size: 11px;
}

.greyBox a { color: #fcf1c8;}

.redNav { color: #790000;}

.padBottom { padding-bottom: 20px;}

.spaceBottom { margin-bottom: 10px;}

.underline {text-decoration:underline;}

.borderTop {border-top: 1px solid #ddd; padding-top: 10px;}
